<h2>SIGN UP</h2>
<div>
    <form name="signUpForm" #signUpForm="ngForm">
    <span class="ui-float-label" style="margin-bottom: 10px">
        <input type="text" pInputText
               style="width: 300px;"
               id="userName"
               name="userName"
               required
               [(ngModel)]="userName">
        <label for="userName">User Name</label>
    </span>
        <span class="ui-float-label" style="margin-bottom: 10px">
        <input type="text" pInputText
               style="width: 300px;"
               id="password"
               name="password"
               required
               [(ngModel)]="password">
        <label for="password">Password</label>
    </span>
        <span class="ui-float-label" style="margin-bottom: 10px">
        <input type="text" pInputText
               style="width: 300px;"
               id="email"
               name="email"
               required
               [(ngModel)]="email">
        <label for="email">Email</label>
    </span>
        <p-button [style]="{'margin-right': '20px'}" [disabled]="!signUpForm.form.valid" (click)="signUp()" label="Sign Up"
                  *ngIf="!authorizationService.isLoggedIn()"></p-button>
    </form>
</div>

<div style="margin-top: 20px">
    <form name="confirmSignUpForm" #confirmSignUpForm="ngForm">
    <span class="ui-float-label" style="margin-bottom: 10px">
        <input type="text" pInputText
               style="width: 300px;"
               id="confirmUserName"
               name="confirmUserName"
               required
               [(ngModel)]="confirmUserName">
        <label for="userName">User Name</label>
    </span>
        <span class="ui-float-label" style="margin-bottom: 10px">
        <input type="text" pInputText
               style="width: 300px;"
               id="verificationCode"
               name="verificationCode"
               [(ngModel)]="verificationCode">
        <label for="verificationCode">Verification Code</label>
    </span>
        <p-button [disabled]="!confirmSignUpForm.form.valid" (click)="confirmSignUp()" label="Confirm Sign Up"
                  *ngIf="!authorizationService.isLoggedIn()"></p-button>
    </form>
</div>
