
<div style="margin-bottom: 15px; font-size: large">{{gameTitle}}</div>
<div class="ui-inputgroup">

    <span class="ui-float-label">
        <input id="team1" type="text" size="30" pInputText [(ngModel)]="game.team1">
        <label for="team1">Team 1</label>
    </span>
    <span class="ui-float-label">
        <input id="team2" type="text" size="30" pInputText [(ngModel)]="game.team2">
        <label for="team2">Team 2</label>
    </span>
    <span class="ui-float-label">
        <input id="time" type="text" size="30" pInputText [(ngModel)]="game.time">
        <label for="time">Time</label>
    </span>
    <span class="ui-float-label">
        <input id="winner" type="text" size="30" pInputText [(ngModel)]="game.winner">
        <label for="winner">Winner</label>
    </span>

</div>
