<div class="bracket-game">
    <div>
        <p-radioButton [disabled]="pickDisabled(game)" name="{{gameField}}"
                       value="{{game.team1}}"
                       label="{{game.team1}}"
                       (onClick)="changePick(game.team1)"
                       [(ngModel)]="pick" inputId="{{gameField}}"></p-radioButton>
    </div>
    <div>
        <p-radioButton [disabled]="pickDisabled(game)" name="{{gameField}}"
                       value="{{game.team2}}"
                       label="{{game.team2}}"
                       (onClick)="changePick(game.team2)"
                       [(ngModel)]="pick" inputId="{{gameField}}"></p-radioButton>
    </div>
    <div style="font-size: small">
        {{getGameTimeAsDate(game) | date : 'short'}}
    </div>
</div>
