<div class="bracket-game">
    <div>
        <p-radioButton [disabled]="pickDisabled(game)" name="{{game.team1}}_{{game.team2}}"
                       value="{{getAwayTeam()}}"
                       label="{{getAwayTeam()}}"
                       (onClick)="changePick(getAwayTeam())"
                       [(ngModel)]="pick" inputId="{{game.team1}}_{{game.team2}}"></p-radioButton>
        <span [hidden]="isSuperBowlGame()" style="margin-left: 5px">@</span>
    </div>
    <div>
        <p-radioButton [disabled]="pickDisabled(game)" name="{{game.team1}}_{{game.team2}}"
                       value="{{getHomeTeam()}}"
                       label="{{getHomeTeam()}}"
                       (onClick)="changePick(getHomeTeam())"
                       [(ngModel)]="pick" inputId="{{game.team1}}_{{game.team2}}"></p-radioButton>
    </div>
    <div style="font-size: small">
        {{getGameTimeAsDate(game) | date : 'short'}}
    </div>
</div>
