<div class="container-fluid" style="padding: 20px">

    <div class="row" style="margin-bottom: 20px">
        <span style="margin-right: 10px">Hello {{authorizationService.getUserName()}}</span>
        <p-button (click)="logOut()" label="Logout" *ngIf="authorizationService.isLoggedIn()"></p-button>
    </div>

    <div class="row">
        <standings></standings>
    </div>

    <div class="row" *ngIf="games">

        <table style="width: 100%; text-align: center">

            <tr style="margin-bottom: 10px; font-size: xx-large">
                <th colspan="3">NFC</th>
                <th></th>
                <th colspan="3">AFC</th>
            </tr>

            <tr style="margin-bottom: 10px; font-size: large">
                <td>Wild Card</td>
                <td>Divisional</td>
                <td>Championship</td>
                <td>Super Bowl</td>
                <td>Championship</td>
                <td>Divisional</td>
                <td>Wild Card</td>
            </tr>

            <tr>
                <td>
                    <bracket-game [game]="games.nfcWildcardGame1" [pick]="picks.nfcWildcard1Pick" [gameField]="'nfcWildcardGame1'"
                                  (pickChanged)="updatePick($event, 'nfcWildcard1Pick')"></bracket-game>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <bracket-game [game]="games.afcWildcardGame1" [pick]="picks.afcWildcard1Pick" [gameField]="'afcWildcardGame1'"
                                  (pickChanged)="updatePick($event, 'afcWildcard1Pick')"></bracket-game>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <bracket-game [game]="games.nfcDivisionalGame1" [pick]="picks.nfcDivisional1Pick" [gameField]="'nfcDivisionalGame1'"
                                  (pickChanged)="updatePick($event, 'nfcDivisional1Pick')"></bracket-game>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <bracket-game [game]="games.afcDivisionalGame1" [pick]="picks.afcDivisional1Pick" [gameField]="'afcDivisionalGame1'"
                                  (pickChanged)="updatePick($event, 'afcDivisional1Pick')"></bracket-game>
                </td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>
                    <bracket-game [game]="games.nfcChampionshipGame" [pick]="picks.nfcChampionshipPick" [gameField]="'nfcChampionshipGame'"
                                  (pickChanged)="updatePick($event, 'nfcChampionshipPick')"></bracket-game>
                </td>
                <td>
                    <bracket-game [game]="games.superBowlGame" [pick]="picks.superBowlPick" [gameField]="'superBowlGame'"
                                  (pickChanged)="updatePick($event, 'superBowlPick')"></bracket-game>
                </td>
                <td>
                    <bracket-game [game]="games.afcChampionshipGame" [pick]="picks.afcChampionshipPick" [gameField]="'afcChampionshipGame'"
                                  (pickChanged)="updatePick($event, 'afcChampionshipPick')"></bracket-game>
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <bracket-game [game]="games.nfcDivisionalGame2" [pick]="picks.nfcDivisional2Pick" [gameField]="'nfcDivisionalGame2'"
                                  (pickChanged)="updatePick($event, 'nfcDivisional2Pick')"></bracket-game>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <bracket-game [game]="games.afcDivisionalGame2" [pick]="picks.afcDivisional2Pick" [gameField]="'afcDivisionalGame2'"
                                  (pickChanged)="updatePick($event, 'afcDivisional2Pick')"></bracket-game>
                </td>
                <td></td>
            </tr>

            <tr>
                <td>
                    <bracket-game [game]="games.nfcWildcardGame2" [pick]="picks.nfcWildcard2Pick" [gameField]="'nfcWildcardGame2'"
                                  (pickChanged)="updatePick($event, 'nfcWildcard2Pick')"></bracket-game>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <bracket-game [game]="games.afcWildcardGame2" [pick]="picks.afcWildcard2Pick" [gameField]="'afcWildcardGame2'"
                                  (pickChanged)="updatePick($event, 'afcWildcard2Pick')"></bracket-game>
                </td>
            </tr>

        </table>

    </div>

    <div class="row" style="margin-top: 40px; text-align: center">

        <div class="col-md-4">
            <span style="margin-right: 5px">Bonus NFC Champion Pick</span>
            <p-dropdown [disabled]="pickDisabled(games.afcWildcardGame1)" [options]="nfcTeams" [(ngModel)]="picks.nfcChampionshipBonusPick"
                        placeholder="Select a Team"></p-dropdown>
        </div>
        <div class="col-md-4">
            <span style="margin-right: 5px">Bonus SuperBowl Pick</span>
            <p-dropdown [disabled]="pickDisabled(games.afcWildcardGame1)" [options]="allTeams" [(ngModel)]="picks.superBowlBonusPick"
                        placeholder="Select a Team"></p-dropdown>
        </div>
        <div class="col-md-4">
            <span style="margin-right: 5px">Bonus AFC Champion Pick</span>
            <p-dropdown [disabled]="pickDisabled(games.afcWildcardGame1)" [options]="afcTeams" [(ngModel)]="picks.afcChampionshipBonusPick"
                        placeholder="Select a Team"></p-dropdown>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <p-button [disabled]="savingPicks" [ngClass]="{'is-disabled': savingPicks}" label="Save Picks" (onClick)="saveBracket()"
                  [icon]="savingPicks ? 'fa fa-spinner fa-spin' : ''" iconPos="right">
        </p-button>
    </div>

</div>

