<div style="min-width: 1500px">

    <p-table [value]="standings" autoLayout="true">

        <ng-template pTemplate="header">
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Score</th>
                <th>Super Bowl Bonus</th>
                <th>AFC Champion Bonus</th>
                <th>NFC Champion Bonus</th>

                <th>AFC WildCard 1</th>
                <th>NFC WildCard 1</th>
                <th>AFC WildCard 2</th>
                <th>NFC WildCard 2</th>
                <th>AFC WildCard 3</th>
                <th>NFC WildCard 3</th>

                <th>AFC Division 1</th>
                <th>NFC Division 1</th>
                <th>AFC Division 2</th>
                <th>NFC Division 2</th>

                <th>AFC Champion</th>
                <th>NFC Champion</th>
                <th>Super Bowl</th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-i="rowIndex" let-standing>
            <tr>
                <td>{{i + 1}}</td>
                <td>{{standing.username}}</td>
                <td style="font-weight: bold;">{{standing.score}}</td>

                <td class="{{getPickCssClass(games.superBowlGame, standing.picks.superBowlBonusPick)}}">{{showBonusPick() ? standing.picks.superBowlBonusPick : ''}}</td>
                <td class="{{getPickCssClass(games.afcChampionshipGame, standing.picks.afcChampionshipBonusPick)}}">{{showBonusPick() ? standing.picks.afcChampionshipBonusPick : ''}}</td>
                <td class="{{getPickCssClass(games.nfcChampionshipGame, standing.picks.nfcChampionshipBonusPick)}}">{{showBonusPick() ? standing.picks.nfcChampionshipBonusPick : ''}}</td>

                <td class="{{getPickCssClass(games.afcWildcardGame1, standing.picks.afcWildcard1Pick)}}">{{showPick(games.afcWildcardGame1) ? standing.picks.afcWildcard1Pick : ''}}</td>
                <td class="{{getPickCssClass(games.nfcWildcardGame1, standing.picks.nfcWildcard1Pick)}}">{{showPick(games.nfcWildcardGame1) ? standing.picks.nfcWildcard1Pick : ''}}</td>
                <td class="{{getPickCssClass(games.afcWildcardGame2, standing.picks.afcWildcard2Pick)}}">{{showPick(games.afcWildcardGame2) ? standing.picks.afcWildcard2Pick : ''}}</td>
                <td class="{{getPickCssClass(games.nfcWildcardGame2, standing.picks.nfcWildcard2Pick)}}">{{showPick(games.nfcWildcardGame2) ? standing.picks.nfcWildcard2Pick : ''}}</td>
                <td class="{{getPickCssClass(games.afcWildcardGame3, standing.picks.afcWildcard3Pick)}}">{{showPick(games.afcWildcardGame3) ? standing.picks.afcWildcard3Pick : ''}}</td>
                <td class="{{getPickCssClass(games.nfcWildcardGame3, standing.picks.nfcWildcard3Pick)}}">{{showPick(games.nfcWildcardGame3) ? standing.picks.nfcWildcard3Pick : ''}}</td>

                <td class="{{getPickCssClass(games.afcDivisionalGame1, standing.picks.afcDivisional1Pick)}}">{{showPick(games.afcDivisionalGame1) ? standing.picks.afcDivisional1Pick : ''}}</td>
                <td class="{{getPickCssClass(games.nfcDivisionalGame1, standing.picks.nfcDivisional1Pick)}}">{{showPick(games.nfcDivisionalGame1) ? standing.picks.nfcDivisional1Pick : ''}}</td>
                <td class="{{getPickCssClass(games.afcDivisionalGame2, standing.picks.afcDivisional2Pick)}}">{{showPick(games.afcDivisionalGame2) ? standing.picks.afcDivisional2Pick : ''}}</td>
                <td class="{{getPickCssClass(games.nfcDivisionalGame2, standing.picks.nfcDivisional2Pick)}}">{{showPick(games.nfcDivisionalGame2) ? standing.picks.nfcDivisional2Pick : ''}}</td>

                <td class="{{getPickCssClass(games.afcChampionshipGame, standing.picks.afcChampionshipPick)}}">{{showPick(games.afcChampionshipGame) ? standing.picks.afcChampionshipPick : ''}}</td>
                <td class="{{getPickCssClass(games.nfcChampionshipGame, standing.picks.nfcChampionshipPick)}}">{{showPick(games.nfcChampionshipGame) ? standing.picks.nfcChampionshipPick : ''}}</td>
                <td class="{{getPickCssClass(games.superBowlGame, standing.picks.superBowlPick)}}">{{showPick(games.superBowlGame) ? standing.picks.superBowlPick : ''}}</td>

            </tr>
        </ng-template>

    </p-table>

</div>
